#div1{
    background-color: rgb(255, 0, 0);
    height: 200px;
    width: 1500px;
    padding-top:50px;
    font-size: 50px;
    text-align: center;
    color: white;
}

#div2{
    background-color: rgb(255, 255, 255);
    height: 200px;
    width: 1500px;
    padding-top: 50px;
    font-size: 50px;
    text-align: center;
    color: white;
}

#div3{
    background-color: rgb(36, 85, 207);
    height: 200px;
    width: 1500px;
    padding-top: 50px;
    font-size: 50px;
    text-align: center;
    color: white;
}
p{
    text-align: center;
    color: white;
}
