h1{
    background-color: rgb(144, 85, 197);}

p{background-color: rgb(244, 188, 244);}

h2{background-color: rgb(187, 188, 101);}

#p2{background-color: rgb(187, 226, 148);}

.stilo{background-color: rgb(255, 123, 0);
       height: 200px; 
       width: 600px;}